body
{
    background-color: rgb(1, 85, 84);
  
}



h1{
    color:rgb(1, 85, 84);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}


.titulo
{
    font-size: 20\px;
}


.subtitulo
{
    font-size: 17px;
}

input{
    margin-top: 10px;
}

#col1
{
  background-color: rgb(240, 240, 240);
   padding: 20px;
   margin-bottom: 20px;
}



#col2
{
    background-color: rgb(207, 207, 207);
    padding: 20px;
    margin-bottom: 20px;
}



.corte
{
    
  
    background-color: rgb(1, 85, 84);
    border:1px solid white;
    color: white;
    font-size: 8px;
   
   
 
   
}

footer

{
    background-color: rgb(1, 85, 84);
    text-align: center;
    color: white;
}
.contacto
{
    color: white;
   
}
span i{
    color: white;
    font-size: 25px;
    margin: 5px;
}


#parte2
{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.colums
{
    width: 500px;
    margin: 25px;
}


.contenedrocirculo
{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.circulo 
{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    right: 100px;
    border: px solid   rgb(1, 85, 84);
    box-shadow: 0px 0px 5px 5px;
    background-position: center;
    background-size: 100px;
   

}
#moneda10
{

     animation: moneda10 linear infinite 5s;  
}

#moneda25
{
   animation: moneda25 linear infinite 5s;
}




@keyframes moneda25
{
    0%{transform: rotateX(0deg); border:1px solid white ;  } 
   25%{}
   50%{transform: rotateX(190deg); border:50px solid white ; }
   75%{}
   100%{transform: rotateX(360deg);  border:1px solid white ; } 


}

@keyframes moneda10
{
    0%{transform: rotateY(0deg);border:1px solid white ;  }
   25%{}
   50%{transform: rotateY(190deg);  border:50px solid white   }
   75%{}
   100%{transform: rotateY(360deg); border:1px solid white } 


}